{{> _header}}
<form method="post" action="/gab/new">

    <label>Gab</label><br>
    <input type="text" name="gab"><br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{{> _footer}}